<section class="wrapper members-section">
    <div class="inner">
        <h2 class="title--l">My team</h2>
        <div class="grid-12">
            <div class="member-card">
                <div class="card__top pos-relative">
                    <div class="member__img pos-center">

                    </div>
                </div>

                <div class="card__bot">
                    <h4 class="member__name">Tran Hoang Nam</h4>
                    <span class="member__pos">Leader</span>
                    <div class="member__social">
                        <ul class="flex-center">
                            <li class="flex-center">
                                <a href="#"><i class="ti-facebook"></i></a>
                            </li>
                            <li class="flex-center">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="member__task">
                        <ul>
                            <li>Design layout website</li>
                            <li>Develop Home, Gallery, Festival page</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="member-card"></div>


            <div class="member-card"></div>
        </div>
    </div>
</section>