<section class="wrapper members-section">
    <div class="inner">
        <h2 class="title--l">My team</h2>
        <div class="grid-15">
            <div class="member-card">
                <div class="card__top pos-relative">
                    <div class="member__img pos-center">
                        <img src="assets/img/members/tran-hoang-nam.png" alt="Picture about Tran Hoang Nam">
                    </div>
                </div>

                <div class="card__bot">
                    <h4 class="member__name">Tran Hoang Nam</h4>
                    <span class="member__pos">Leader</span>
                    <div class="member__social">
                        <ul class="flex-center">
                            <li class="flex-center">
                                <a href="#"><i class="ti-facebook"></i></a>
                            </li>
                            <li class="flex-center">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="member__task">
                        <ul>
                            <li>Design layout website</li>
                            <li>Develop Home, Gallery, Festival page</li>
                            <li>Responsive website</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="member-card">
                <div class="card__top pos-relative">
                    <div class="member__img pos-center">
                        <img src="assets/img/members/tran-the-hung.jpg" alt="Picture about Tran The Hung">
                    </div>
                </div>
                
                <div class="card__bot">
                    <h4 class="member__name">Tran The Hung</h4>
                    <span class="member__pos">Member</span>
                    <div class="member__social">
                        <ul class="flex-center">
                            <li class="flex-center">
                                <a href="#"><i class="ti-facebook"></i></a>
                            </li>
                            <li class="flex-center">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="member__task">
                        <ul>
                            <li>Find information about beaches</li>
                            <li>Develop About page</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="member-card">
                <div class="card__top pos-relative">
                    <div class="member__img pos-center">
                        <img src="assets/img/members/vo-nguyen-truong-phi.jpg" alt="Picture about Vo Nguyen Truong Phi">
                    </div>
                </div>
            
                <div class="card__bot">
                    <h4 class="member__name">Vo Nguyen Truong Phi</h4>
                    <span class="member__pos">Member</span>
                    <div class="member__social">
                        <ul class="flex-center">
                            <li class="flex-center">
                                <a href="#"><i class="ti-facebook"></i></a>
                            </li>
                            <li class="flex-center">
                                <a href="#"><i class="ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="member__task">
                        <ul>
                            <li>Find information about beaches</li>
                            <li>Develop Member page</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-bubbles">
            <div class="inner">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </div>
        </div>
    </div>

    
</section>