<section class="wrapper form-feedback-section">
    <div class="inner">
        <h1 class="title--l">Please leave your feedback</h1>
        <form action="">
            <div class="w-input">
                <input type="text" name="" id="" class="fn-input pos-center-y" required>
                <label for="" class="pos-center-y">Full name</label>
            </div>

            <div class="w-input">
                <input type="text" name="" id="" class="email-input pos-center-y" required>
                <label for="" class="pos-center-y">Your email</label>
            </div>

            <div class="w-input">
                <textarea name="" id="" required></textarea>
                <label for="">Your feedback</label>
            </div>

            <div class="w-input rating pos-center-x">
                <input type="radio" name="feeling-rating" class="star">
                <input type="radio" name="feeling-rating" class="star">
                <input type="radio" name="feeling-rating" class="star">
                <input type="radio" name="feeling-rating" class="star">
                <input type="radio" name="feeling-rating" class="star">
            </div>

            <button class="send-fb-btn pos-center-x">SEND</button>
        </form>
    </div>
</section>