<footer>
    <div class="inner">
        <div class="footer__bot">
            <h4>Get new infomartion by</h4>

            <div class="bot__opt flex">
                <div class="bot__social-media pos-relative">
                    <h5>Follow us</h5>
                    <ul class="flex-center">
                        <li class="flex-center">
                            <a href="#"><i class="ti-facebook"></i></a>
                        </li>
                        <li class="flex-center">
                            <a href="#"><i class="ti-instagram"></i></a>
                        </li>
                        <li class="flex-center">
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="bot__email">
                    <form action="" class="form-get-news pos-relative">
                        <label for="">Enter you email to get news</label>
                        <input type="email" name="" id="" class="email-input pos-center-x">
                        <input type="submit" value="Send" class="send-input">
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>