<header>
    <div class="inner">
        <div class="wrapper-logo pos-center-y">
            <a href="/">
                <img src="assets/img/logo/logo_beachourSVG-white.svg" alt="Logo Beachour" class="logo">
            </a>
        </div>

        <nav class="wrapper-nav pos-center-y flex-center">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/gallery" class="nav-link">Gallery</a></li>
            <li><a href="/festivals" class="nav-link">Festival</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
            <li><a href="/about" class="nav-link">About</a></li>
        </nav>

        <div class="wrapper-other-opt pos-center-y flex-center">
            <div class="other-opt__favorite pos-relative">
                <i class="heart-icon fa-regular fa-heart"></i>
                <div class="circle wrapper-num-favorite">
                    <span class="num-favorite pos-center">0</span>
                </div>
            </div>

            <div class="favorite-beaches">
            </div>
        </div>
    </div>
</header>