<div>
    <section class="wrapper zone-section pos-relative">
        <div class="wrapper-wave">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
    
        <div class="inner">
            <div class="wrapper-title pos-relative">
                <h2>You are finding a beach for a vacation?</h2>
                <h2>Let's see more than 80 places</h2>
                <a href="/gallery" class="view-btn" id="view-beaches-btn">View all</a>
            </div>
    
            <div class="wrapper-zones grid-12">
                <div class="zone">
                    <img src="assets/img/banner/al-mughsail-salalah__oman/img/img-2.jpg" alt="">
                </div>
    
    
                <div class="zone">
                    <img src="assets/img/banner/al-mughsail-salalah__oman/img/img-1.jpg" alt="">
                </div>
    
    
                <div class="zone">
                    <img src="assets/img/banner/amed__bali/img/img-1.jpg" alt="">
                </div>
    
    
                <div class="zone">
                    <img src="assets/img/banner/amed__bali/img/img-2.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <top-famous></top-famous>
    
    <feedback></feedback>
    
    <home-festival></home-festival>
    
    <section class="wrapper traffic-section">
        <div class="inner">
            <h2>Traffic website<i class="stock-icon fa-solid fa-arrow-trend-up"></i></h2>
            <div class="count-traffic flex-center">
                <div class="count count-overall"><span>Overall</span>1234567</div>
                <div class="count count-last-week"><span>Last week</span>1234567</div>
                <div class="count count-last-month"><span>Last month</span>1234567</div>
                <div class="count count-last-year"><span>Last year</span>1234567</div>
                <div class="count count-return-rate"><span>Returning viewer rate</span>89%</div>
            </div>
        </div>
    </section>
    
    <top-view></top-view>
</div>
